version: '3'

services:
  web:
    build: ../easy
    ports:
      - "5002:5000"
    environment:
      - APP_ENV=production
    volumes:
      - .:/app
    restart: always
    container_name: myapp_container
    privileged: true
    networks:
      - default

networks:
  default:
    driver: bridge